:root {
    --textColor: #ffffff;
    --bgHeader: #1a94ff;
    --bgcontent: #131821;
    --sizeText: .8rem;
    --sizeColor: 1rem;
    --box-shadow: 0 4.5rem 5.5rem rgba(0,0,0,0.1);
    --box-shadowImg: 1px 3px 25px 10px rgb(0 0 0 / 25%);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}
.container {
    padding: 15px 15px 5px 15px;
    margin: 0px auto;
    width: 100%;
    max-width: 1270px;
}

/* header */
.header {
    background-color: var(--bgHeader);
}

.content-header {
    display: flex;
}

/* header-tiki */
.logo {
    width: 10%;
}
.searchRoot {
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
}
.Root {
    display: flex;
    width: 100%;
}
.account {
    display: flex;
    width: 20%;
}
.cart {
    width: 10%;
    position: relative;
}

.logo a img {
    width: 50%;
}

.searchRoot input {
    width: 100%;
    padding: 12px;
    font-size: 11px;
    border: none;
    outline: none;
}
.searchRoot .search {
    width: 125px;
    background-color: #0d5cb6;
}
.searchRoot .search a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
}
.searchRoot .search a img {
    width: 30%;
}
.searchRoot .search .search-text {
    color: var(--textColor);
    font-size: .8rem;
    font-weight: 500;
}

.account {
    justify-content: center;
    align-items: center;
    text-align: initial;
}
.account a {
    display: flex;
    color: var(--textColor);
    font-size: .8rem;
    text-decoration: none;
}
.account a img {
    width: 15%;
}

/* form-register */
.create-form {
    position: relative;
    z-index: 99999;
    display: none;
}
.form-register {
    display: flex;  
    position: absolute;
    top: 30px;
    right: 86px;
    width: calc(100% + 750px);
}
.form-register .register-T {
    width: 60%;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
}
.account:hover .create-form {
    display: block;
}

.form-register .register-T h3 {
    color: var(--bgcontent);
    padding: 20px 20px 10px 20px;
    font-size: 1.5rem;
    font-weight: 500;
}
.form-register .register-T h4 {
    color: var(--bgcontent);
    padding: 0px 20px;
    font-size: .9rem;
    font-weight: 500;
}
.register-phone input {
    width: 90%;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 0px;
    outline: none;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 10px 20px;
}
.register-phone .continue {
    width: 90%;
    color: var(--textColor);
    background-color: red;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .8;
    text-transform: capitalize;
    cursor: pointer;
}
.register-phone .continue:hover {
    opacity: .5;
}
.register-T a.email {
    color: var(--bgHeader);
    justify-content: center;
    align-items: center;
    font-size: var(--sizeText);
}

.register-T .info {
    margin-top: 50px;
}
.info p {
    font-size: 1rem;
    text-align: center;
}
.info .internet {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .internet img {
    width: 80px;
    padding: 10px;
    margin: 10px 5px;
    cursor: pointer;
}
.info .information {
    text-align: center;
    font-size: var(--sizeText);
    color: rgb(131, 131, 131);
    margin-bottom: 30px;
}
.form-register .register-T span {
    display: block;
    text-align: center;
    color: #e9f5ff;
    font-size: .9rem;
    padding: 10px;
}
.form-register .register-T span.fa-caret-up {
    content: "\f0d8";
    font-family: "FontAwesome";
    position: absolute;
    right: 0px;
    top: -36px;
    color: #e9f5ff;
    font-size: 2.5rem;
}

.form-register .register-img {
    width: 40%;
    background-color: #e9f5ff;
    border-radius: 0px 10px 10px 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}   
.register-img img {
    width: 200px;
    justify-content: center;
    align-items: center;
}
.register-img span {
    color: var(--bgHeader);
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
}
.register-img small {
    color: var(--bgHeader);
    font-size: var(--sizeText);
    font-weight: 700;
    line-height: 30px;
}

/* cart */
.cart a {
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
}
.cart a img {
    width: 26%;
    margin-top: 5px;
}
.cart a span.qty-T { 
    position: absolute;
    top: 0px;
    right: 86px;
    font-size: .9rem;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(253, 216, 53);
}
.cart a span.cart-T {
    color: var(--textColor);
    font-size: .8rem; 
    margin-top: 20px;
}

/* header-freeship */
.container-freeship {
    padding: 2px 15px 15px 15px;
    margin: 0px auto;
    width: 100%;
    max-width: 1270px;
}
.logo-freeship {
    width: 10%;
}
.logo-freeship a img {
    width: 70%;
}

.food-list {
    width: 75%;
    text-align: left;
}
.food-list a {
    padding: 0px 10px;
    color: var(--textColor);
    font-size: .7rem;
    text-decoration: none;
}

.tiki-promotion {
    width: 15%;
}
.tiki-promotion a.tiki-saler  {
    background-color: #53afff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 20px;
    text-decoration: none;
}

.tiki-saler span.text {
    margin-left: 10px; 
    color: var(--textColor);
    font-size: .7rem;
}

/* main */
.style-Category {
    background-color:  rgb(255, 255, 255);
    height: 44px;
}

.style-SimpleSlider {
    width: 100%;  
    position: relative;
}
.style-SimpleSlider a {
    font-size: .9rem;
    text-decoration: none;
    color: var(--bgcontent);
    padding: 0px 10px;
    line-height: 15px;
    text-transform: capitalize;
}
.style-SimpleSlider a:hover {
    color: orange;
}
.style-SimpleSlider span.next-right img {
    position: absolute;
    top: -5px;
    right: -20px;
    font-size: 1rem;
    cursor: pointer;
}

/* product-list */
.main {
    background-color: #f5f5fa;
}
.banner {
    display: flex;
}
.banner .banner-left {
    width: 70%;
    position: relative;
}
.banner .banner-left img {
    max-width: 99%;
    border-radius: 5px;
}
.banner .banner-right {
    width: 30%;
}
.banner .banner-right img {
    max-width: 100%;
    height: 99%;
    border-radius: 5px;
}
.banner-left a.next-1 img {
    width: 32px;
    top: 110px;
    left: 6px;
    position: absolute;
    transform: rotate(180deg);
}
.banner-left a.next-2 img {
    width: 32px;
    top: 110px;
    right: 8px;
    position: absolute;
}
.banner-left .btn-radio {
    position: relative;
}
.banner-left .btn-radio ul {
    position: absolute;
    bottom: 10px;
    display: flex;
    /* -webkit-box-pack: center; */
    justify-content: center;
    width: 100%;
}
.banner-left .btn-radio ul li {
    padding: 2px;
}
.banner-left .btn-radio ul li button {
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b4b3b3;
}
.banner-left .btn-radio ul li button.active {
    background-color: #ffffff;
}

/* endow */
.endow {
    background-color: var(--textColor);
    border-radius: 3px;
    margin-top: 20px;
}

.main-endow .endow-top {
    display: flex;   
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.main-endow span.line-dividers {
    border-top: 1px solid #ccc;
}
.main-endow .endow-top h2 {
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
    font-weight: 900;
    font-style: italic;
    text-transform: capitalize;
    width: 140px;
}

@keyframes flash {
    50% { opacity: .4; }
  }
  @-webkit-keyframes flash {
    50% { opacity: 0.0; }
  }
  .flash {
    animation: flash 0.8s linear 0s infinite;
    -webkit-animation: flash 0.8s linear 0s infinite;
  }

.endow-bottom {
    display: flex;
    padding: 5px;
}
.endow-bottom .product {
    transition-duration: .5s;
    
}
.endow-bottom .product:hover {
    box-shadow: var(--box-shadow);
    background-color: white;
}
.endow-bottom .product a {
    text-decoration: none;
}
.endow-bottom .product a .thumbs {
    width: 100%;
    position: relative;
}
.endow-bottom .product a .thumbs img {
    max-width: 100%;
    padding: 5px;
}
.endow-bottom .product a span.free-shipfast img {
    position: absolute;
    bottom: 3px;
    left: 0px;
    max-width: 70%;
}
.price {
    padding: 5px;
}
.price span {
    font-size: var(--sizeColor);
    color: red;
    font-weight: 700;
}
.price span.deals-price {
    background-color: #fff0f1;
    font-size: var(--sizeText);
    border: 1px solid red;
    border-radius: 2px;
    padding: 1px;
    font-weight: 500;
    margin-left: 10px;
}
.qty {
    width: 95%;
    height: 23px;
    padding: 4px;
    background-color: #ffaaaf;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.qty .progress {
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 23px;
    display: block;
    border-radius: 20px;
    opacity: .6;
}
.qty span {
    color: var(--textColor);
    font-weight: 400;
    font-size: var(--sizeText);
    position: absolute;
    z-index: 1;
    left: 75px;
}
.qty img  {
    position: absolute;
    top: -10px;
    left: 10px;
}

/* home-brand */
.home-brand {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 160px;
    margin-top: 20px;
}

.home-brand .brand-1 a img {
    border-radius: 4px;
    height: 160px;
    width: 204px;
    object-fit: cover;
}
.home-brand .brand-2 a img {
    border-radius: 4px;
    height: 160px;
    width: 800px;
    object-fit: cover;   
}
.home-brand .brand-3 a img {
    border-radius: 4px;
    height: 160px;
    width: 204px;
    object-fit: cover;
}

/* home-quicklink */
.home-quicklink {
    background: var(--textColor);
    border-radius: 3px;
    margin-top: 20px;
}
.quicklink-tab {
    display: flex;
    justify-content: space-between;  
}
.quicklink-tab a {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    margin: 0px 15px;
    text-decoration: none;
}
.quicklink-tab a img {
    width: 48px;
    height: 48px;
}
.quicklink-tab a span {
    font-size: var(--sizeText);
    color: var(--bgcontent);
    margin-top: 15px;
    line-height: 20px;
    text-align: center;
}

/* home-deal */
.home-deal {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 160px;
    margin-top: 20px;
}
.home-deal .deal a img {
    width: 295px;
    height: 150px;
    border-radius: 20px;
}

/* genuine-brand */
.genuine-brand {
    border-radius: 3px;
    margin-top: 20px;
    background-color: var(--textColor);
    padding: 20px;
}
.brand-content {
    display: flex;
    padding: 0px 0px 20px 0px;
}
.brand-content .title-content {
    display: flex;
}
.brand-content img {
    width: 24px;
    height: 24px;
}
.brand-content h2 {
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 400;
    margin-left: 10px;
}
.brand-content a.see-more {
    margin: auto 0 auto auto;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgb(13, 92, 182);
}
.genuine-brand .genuine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.genuine a img {
    max-width: 100%;
    height: 196px;
    border-radius: 10px;
    object-fit: cover;
}

/* footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.book {
    width: 235px;
}
.book h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.book p.hotline {
    color: rgb(128, 128, 137);
    font-size: var(--sizeText);
    margin-bottom: 15px;
}
.book p.hotline a {
    font-weight: 500;
    color: var(--bgcontent);
}
.book p.security {
    margin-bottom: 8px;
    color: rgb(128, 128, 137);
    font-size: var(--sizeText);
    font-weight: 400;
}
.book p.security a {
    color: rgb(128, 128, 137);
}
.footer-content .small-text {
    display: block;
    margin-bottom: 8px;
    color: rgb(128, 128, 137);
    font-size: var(--sizeText);
}
.footer-content .small-text:hover, 
.book p.security a:hover {
    text-decoration: underline;
}

.book .book-title {
    margin: 15px 0px;
}
.book p a.icon {
    padding: 4px;
}
.flex {
    display: flex;
    width: 218px;
    gap: 8px;
}
.flex img {
    max-width: 100%;
}
.flex .dowload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.flex .dowload a img {
    max-width: 100%; 
}

/* PC: width >= 1024px */
@media only screen and (max-width: 63.9375em){

}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em){
    
    /* search */
    .Root {
        display: none;
    }

    
    /* account */
    .account {
        display: none;
    }

    /* footer */
    .footer-content {
        flex-direction: column;
        width: 100%;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){

}
