:root {
    --textColor: #ffffff;
    --bgHeader: #1a94ff;
    --bgcontent: #131821;
    --sizeText: .8rem;
    --sizeColor: 1rem;
    --box-shadow: 0 4.5rem 5.5rem rgba(0,0,0,0.1);
    --box-shadowImg: 1px 3px 25px 0px rgb(0 0 0 / 25%);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%;
}
.container {
    padding: 15px 15px 15px 15px;
    margin: 0px auto;
    width: 100%;
    max-width: 1270px;
}
/* header */
.header {
    background-color: var(--bgHeader);
}

.content-header {
    display: flex;
}

/* header-tiki */
.logo {
    width: 10%;
}
.searchRoot {
    display: flex;
    width: 60%;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
}
.account {
    display: flex;
    width: 20%;
}
.cart {
    width: 10%;
    position: relative;
}

.logo a img {
    width: 50%;
}

.searchRoot input {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
}
.searchRoot .search {
    width: 125px;
    background-color: #0d5cb6;
}
.searchRoot .search a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
}
.searchRoot .search a img {
    width: 30%;
}
.searchRoot .search .search-text {
    color: var(--textColor);
    font-size: .8rem;
    font-weight: 500;
}

.account {
    justify-content: center;
    align-items: center;
}
.account a {
    display: flex;
    color: var(--textColor);
    font-size: .8rem;
    position: relative;
}
.account a img {
    width: 15%;
}

.account a .account-T span.fa-caret-down::before {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    top: 16px;
    left: 100px;
}

/* form-register */
.create-form {
    position: relative;
    z-index: 99999;
    display: none;
}
.form-register {
    display: flex;  
    position: absolute;
    top: 30px;
    right: 86px;
    width: calc(100% + 750px);
}
.form-register .register-T {
    width: 60%;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
}
.account:hover .create-form {
    display: block;
}

.form-register .register-T h3 {
    color: var(--bgcontent);
    padding: 20px 20px 10px 20px;
    font-size: 1.5rem;
    font-weight: 500;
}
.form-register .register-T h4 {
    color: var(--bgcontent);
    padding: 0px 20px;
    font-size: .9rem;
    font-weight: 500;
}
.register-phone input {
    width: 90%;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 0px;
    outline: none;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 10px 20px;
}
.register-phone .continue {
    width: 90%;
    color: var(--textColor);
    background-color: red;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .8;
    text-transform: capitalize;
    cursor: pointer;
}
.register-phone .continue:hover {
    opacity: .5;
}
.register-T a.email {
    color: var(--bgHeader);
    justify-content: center;
    align-items: center;
    font-size: var(--sizeText);
}

.register-T .info {
    margin-top: 50px;
}
.info p {
    font-size: 1rem;
    text-align: center;
}
.info .internet {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .internet img {
    width: 80px;
    padding: 10px;
    margin: 10px 5px;
    cursor: pointer;
}
.info .information {
    text-align: center;
    font-size: var(--sizeText);
    color: rgb(131, 131, 131);
    margin-bottom: 30px;
}
.form-register .register-T span {
    display: block;
    text-align: center;
    color: #e9f5ff;
    font-size: .9rem;
    padding: 10px;
}
.form-register .register-T span.fa-caret-up {
    content: "\f0d8";
    font-family: "FontAwesome";
    position: absolute;
    right: 0px;
    top: -36px;
    color: #e9f5ff;
    font-size: 2.5rem;
}

.form-register .register-img {
    width: 40%;
    background-color: #e9f5ff;
    border-radius: 0px 10px 10px 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}   
.register-img img {
    width: 200px;
    justify-content: center;
    align-items: center;
}
.register-img span {
    color: var(--bgHeader);
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
}
.register-img small {
    color: var(--bgHeader);
    font-size: var(--sizeText);
    font-weight: 700;
    line-height: 30px;
}

/* cart */
.cart a {
    align-items: center;
    justify-content: center;
}
.cart a img {
    width: 26%;
    margin-top: 5px;
}
.cart a span.qty-T { 
    position: absolute;
    top: 0px;
    right: 86px;
    font-size: .9rem;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(253, 216, 53);
}
.cart a span.cart-T {
    color: var(--textColor);
    font-size: .8rem; 
}

/* header-freeship */
.container-freeship {
    padding: 2px 15px 15px 15px;
    margin: 0px auto;
    width: 100%;
    max-width: 1270px;
}
.logo-freeship {
    width: 10%;
}
.logo-freeship a img {
    width: 70%;
}

.food-list {
    width: 75%;
    text-align: left; 
}
.food-list a {
    padding: 0px 10px;
    color: var(--textColor);
    font-size: .7rem;
}

.tiki-promotion {
    width: 15%;
}

.tiki-promotion a.tiki-saler  {
    background-color: #53afff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 20px;
}
.tiki-saler span.fa-lightbulb-o::before {
    content: "\f0eb";
    font-family: "FontAwesome";
    position: absolute;
    top: 3px;
    left: 10px;
    font-size: 1rem;
    color: var(--textColor);
}
.tiki-saler span.text {
    margin-left: 10px; 
    color: var(--textColor);
    font-size: .7rem;
}

/* main */
main {
    background-color: rgb(245, 245, 250);
    width: 100%;
    height: auto;
}

/* product_list_top */
.product_list_top {
    background-color: rgb(245, 245, 250);
    margin-bottom: 10px;
}
.brandcrumb {
    display: flex;
    align-items: center;
    position: relative;
}
.brandcrumb a span {
    font-size: .9rem;
    color: rgb(128, 128, 137);
    font-weight: 300;
    text-transform: capitalize;
}
.brandcrumb a span.align {
    margin: 0px 0px 0px 16px;
}
.brandcrumb a span:hover {
    text-decoration: underline;
}
.brandcrumb span.fa-angle-right::before {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    top: 0px;
    left: 71px;
    font-size: 1.1rem;
    color: rgb(128, 128, 137);
}

/* product_list_bottom */
.product_list_bottom {
    background-color: var(--textColor);
}
.product_list_bottom .ctegoryViewstyle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product_left {
    width: 20%;
    border-right: 1px solid rgb(245, 245, 250);
}
.product_left--book,
.product_left--location,
.product_left--service,
.product_left--rating,
.product_left--price,
.product_left--brand,
.product_left--supplier {
    background-color: var(--textColor);
    border-radius: 3px 0px 0px 3px;
    padding: 10px;
    border-bottom: 1px solid rgb(245, 245, 250);
}
.product_left--book h2,
.product_left--location h2, 
.product_left--service h2,
.product_left--rating h2,
.product_left--price h2,
.product_left--brand h2,
.product_left--supplier h2 {
    text-transform: uppercase;
    font-size: var(--sizeText);
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 10px;
}
/* book */
.product_left--book .list {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}
.product_left--book .list a.item {
    padding: 7px 0px;
    font-size: var(--sizeText);
    color: var(--bgcontent);
    text-transform: capitalize;
    text-decoration: none;
}
/* location */
.product_left--location .address {
    font-size: var(--sizeText);
    text-decoration: underline;
    font-weight: 500;
    line-height: 30px;
}
.product_left--location .address-change {
    font-size: var(--sizeText);
    text-transform: uppercase;
    color: rgb(13, 92, 182);
    font-weight: 500;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}
/* service */
.product_left--service .style_checkbox {
    display: flex;
    cursor: pointer;
    margin-left: 5px;
}
.product_left--service .style_checkbox input {
    margin: 7px 10px 0px 5px;
    cursor: pointer;
}
.product_left--service .style_checkbox .service-wrap {
    display: flex;
    align-items: center;
    height: 24px;
}
.product_left--service .style_checkbox .service-wrap img {
    width: 56px;
    height: 24px;
    margin-right: 4px;
}
.product_left--service .style_checkbox .service-wrap span {
    font-size: var(--sizeText);
}
/* rating */
.product_left--rating .stars {
    display: flex;
    cursor: pointer;
    line-height: 35px;
}
.product_left--rating .start-1, .start-2, .start-3 {
    width: 68%;
    justify-content: space-between;
    align-items: center;
}
.product_left--rating .stars p {
    font-size: var(--sizeText);
    margin-left: 10px;
}
/* price */
.product_left--price .fast-price {
    margin-bottom: 5px;
    text-align: left;
}
.product_left--price .fast-price .item span {
    justify-content: space-between;
    align-items: center;
    font-size: var(--sizeText);
    padding: 4px 15px;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    line-height: 28px;
    cursor: pointer;
}
.product_left--price .price-small-text {
    font-size: var(--sizeText);
    color: rgb(133, 133, 133);
    margin-bottom: 5px;
}
.product_left--price .input-group {
    display: flex;
}
.product_left--price .input-group input {
    width: 100px;
    height: 30px;
    padding: 0px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(133, 133, 133);
}
.product_left--price .input-group span {
    margin: -1px 5px;
    font-size: 1.6rem;
}
.product_left--price button {
    padding: 5px 20px;
    margin-top: 10px;
    color: var(--bgHeader);
    background-color: var(--textColor);
    border: 1px solid #1a94ff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
/* brand */
.product_left--brand .style_checkbox,
.product_left--supplier .style_checkbox {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
}
.product_left--brand .style_checkbox input,
.product_left--supplier .style_checkbox input {
    margin: 1px 0px;
    cursor: pointer;
}
.product_left--brand .style_checkbox span,
.product_left--supplier .style_checkbox span {
    font-size: var(--sizeText);
    align-items: center;
    margin-left:  10px;
    cursor: pointer;
}
.product_left--brand .see-more,
.product_left--supplier .see-more {
    display: flex;
    position: relative;
}
.product_left--brand .see-more a,
.product_left--supplier .see-more a {
    font-size: var(--sizeText);
    color: blue;
    margin: 10px 0px;
}
.product_left--brand .see-more a span.fa-angle-down::before,
.product_left--supplier .see-more a span.fa-angle-down::before {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 1rem;
    color: blue;
}

/* product_right */
.product_right-content {
    width: 992px;
    background-color: var(--textColor);
}
.product_right-content h2 {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 15px;
}
.product_right-content .banner {
    text-align: center;
    position: relative;
}
.product_right-content .banner span.fa-angle-left {
    content: "\f104";
    font-family: "FontAwesome";
    position: absolute;
    top: 126px;
    left: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(245, 245, 250);
    border-radius: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}
.product_right-content .banner span.fa-angle-left:hover {
    box-shadow: var(--box-shadowImg);
    background-color: white;
}
.product_right-content .banner span.fa-angle-right {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    top: 126px;
    right: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(245, 245, 250);
    border-radius: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}
.product_right-content .banner span.fa-angle-right:hover {
    box-shadow: var(--box-shadowImg);
    background-color: white;
}
.product_right-content .banner a img {
    width: 861px;
    height: 286px;
    object-fit: cover;
}
/* sorter */
.sorter {
    border-bottom: 1px solid rgb(245, 245, 250);
    padding: 15px 0px 10px 0px;
}
.sorter_list {
    display: inline-block;
}
.sorter_list a {
    padding: 6px;
    font-size: var(--sizeText);
    text-transform: capitalize;
    color: var(--bgcontent);
    margin-left: 20px;
}
.sorter_list a:hover, a.active {
    font-weight: 500;
    border-bottom: 4px solid rgb(13, 92, 182);
    color: rgb(13, 92, 182);
}
/* food */
.food .food_now {
    padding: 20px 10px;
    display: flex;
}
.food .food_now .item {
    height: 24px;
    width: 90px;
    text-align: center;
    background-color: rgb(245, 245, 250);
    border-radius: 20px;
    margin-left: 10px;
}
.food .food_now a.item-1 img {
    width: 56px;
    height: 24px;
}
.food .food_now a.item-2 img {
    width: 70px;
    height: 24px;
}
.food .food_now a.close-all {
    font-size: var(--sizeText);
    margin: 4px 15px;
    color: black;
}
.food .food_now a.close-all:hover {
    color: blue;
    text-decoration: underline;
}
/* food-list */
.food_list .product-all {
    display: flex;
    flex-wrap: wrap;
}
.product-all .product {
    width: 25%;
}
.product-all .product a:hover {
    box-shadow: var(--box-shadowImg);
}
.product-all .product a {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    text-decoration: none;
}
/* thumbnail */
.product-all .product a .thumbnail {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    position: relative;
}
.product-all .product a .thumbnail span.freeship img {
    width: 70%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
/* info */
.product-all .product a .info {
    color: var(--bgcontent);
    margin: 0px 0px 40px 0px;
}
.product-all .product a .info .tiki-delicious {
    margin: 0px 0px 12px 0px;
}
.product-all .product a .info .tiki-delicious img {
    width: 30%;
    align-items: flex-start;
}
.product-all .product a .info .name {
    display: flex;
}
.product-all .product a .info .name p {
    width: 9%;
    height: 14px;
    padding: 0px 4px;
    margin: 3px 0px 0px 0px;
    border-radius: 2px;
    background-color: rgb(245, 245, 250);
}
.product-all .product a .info .name span {
    margin: 0px 5px;
    font-size: var(--sizeText);
    line-height: 20px;
}
/* review */
.product-all .product a .review {
    display: flex;
    margin: 5px 0px;
}
.product-all .product a .review .stars img {
    width: 14%;
}
.product-all .product a .review .style-sperator {
    width: 1px;
    height: 12px;
    border: 1px solid #ccc;
    margin: 1px 8px 0px 0px;
}
.product-all .product a .review .style-sold {
    margin: 0px 5px;
    font-size: var(--sizeText);
    color: rgb(158, 157, 157);
}
/* price-discount */
.product-all .product a .price-discount {
    display: flex;
}
.product-all .product a .price-discount .price_discount-price {
    font-size: var(--sizeColor);
    font-weight: 500;
    color: red;
}
.product-all .product a .price-discount .price_discount-discount {
    font-size: var(--sizeText);
    width: 14%;
    height: 17px;
    border: 1px solid red;
    color: red;
    border-radius: 3px;
    margin: 2px 10px;
    text-align: center;
}
/* panigation */
.panigation {
    background-color: rgb(245, 245, 250);
    text-align: right;
}
.panigation ul {
    padding: 22px;
}
.panigation ul li {
    display: inline-block;
}
.panigation ul li a {
    border-radius: 50%;
    margin: 0px 5px;
    padding: 8px 12px;
    color: black;
    font-size: var(--sizeText);
}
.panigation ul li a.bgColor {
    background-color: var(--bgHeader);
    color: var(--textColor);
}
.panigation ul li a.current:hover {
    background-color: rgb(144, 233, 248);
    color: var(--textColor);
}

/* footer */
.footer-content {
    display: flex;
    justify-content: space-between;
}
.book {
    width: 235px;
}
.book h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.book p.hotline {
    color: rgb(128, 128, 137);
    font-size: var(--sizeText);
    margin-bottom: 15px;
}
.book p.hotline a {
    font-weight: 500;
    color: var(--bgcontent);
}
.book p.security {
    margin-bottom: 8px;
    color: rgb(128, 128, 137);
    font-size: var(--sizeText);
    font-weight: 400;
}
.book p.security a {
    color: rgb(128, 128, 137);
}
.footer-content .small-text {
    display: block;
    margin-bottom: 8px;
    color: rgb(128, 128, 137);
    font-size: var(--sizeText);
}
.footer-content .small-text:hover, 
.book p.security a:hover {
    text-decoration: underline;
}

.book .book-title {
    margin: 15px 0px;
}
.book p a.icon {
    padding: 4px;
}
.flex {
    display: flex;
    width: 218px;
    gap: 8px;
}
.flex img {
    max-width: 100%;
}
.flex .dowload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.flex .dowload a img {
    max-width: 100%; 
}